h1{
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-left: 70px;
}

body{
    margin-left: 100px;
    margin-right: 100px;
}

.subdiv1,.subdiv2,.subdiv3{
    border:2px solid black;
    padding: 10px;

}

p{
    text-align: center;
}

.name{
    font-weight: bold;
}